.main-bg {
    background: url("background.jpg") no-repeat center center scroll;
    position: fixed;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.singlepost{
  text-align: justify;
  background-color: white;
  opacity: 0.7;
}

.col-md-12 {
  background-color: white ;
  opacity: 0.7;
}

.page-header{
  text-align: center;
}
.navbar{
  margin-bottom: 0;
}

.appearingTextCreator {
  font-weight: ;
  display: none;
}

tr {
  display: visible;
  font-size: 14px;
}

.createList {
  font-size: 14px;
}

.removeGoals {
  font-size: 14px;
}

.toggleGoals {
  font-size: 14px;
}

.outputSquare {
  display: none;
}


h1 {
  font-size: 20px;
}
