.singlepost{
  text-align: justify;
  background-color: white;
  opacity: 0.7;
}

.page-header{
  text-align: center;
}
.navbar{
  font-family: "Roboto";
  font-size: 15px;
  margin-bottom: 0;
}

.appearingTextCreator {
  font-size: 15px;
  display: none;
}

tr {
  display: visible;
  font-size: 14px;
}

.outputSquare {
  display: none;
}

#signoff{
  font-style: italic;
  text-align: right;
  font-size: 12px;
}

h1 {
  font-family: "Roboto";
  font-weight: ;
  font-size: 25px;
}


/* credit for background goes to one of my previous peer reviews, for making the image act appropriately i used his/her code */
.main-bg {
    background: url("background (1).jpg") no-repeat center center scroll;
    position: fixed;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/* end credit */

.comment {
    margin: 20px 0px 20px 20px;
}
