{% load staticfiles %}
<html>

<head>
  <title>Myke's app</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
  <section id="header ">
    <!-- NAV-BAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <a href="https://smja.pythonanywhere.com" class="navbar-brand">Lifegoal App </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a><span class="appearingTextCreator">by Mykel Schmidt!</span></a></li>
            <li><a href="#" class="toggleGoals"><img class="toggleGoalsImage" src="{% static 'images\tasklist3.png' %}" width="22x">
                <span class="text-primary">View background</span></a></li>
            <li><a href="{% url 'post_new' %}" class="createList"><img class="createListImage" src="{% static 'images\plus2.png' %}" width="20x">
              <span class="text-succes">Add new goal</span></a></li>
            <li><a href="#" class="removeGoals"><img class="removeGoalsImage" src="{% static 'images\cross2.png' %}" width="21x">
              <span class="text-danger">Delete all goals</span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <!-- MAIN CONTENT -->

    <div class="main-bg"></div>

    <!-- NON-RECURRING WELCOME JUMBOTRON
    <div class="jumbotron container">
      <h1>Get started! <small>Share your goals with the world!</small></h1>
      <p class="container">
        <ul class="list-group">
          <li class="list-group-item "> Create new goals</li>
          <li class="list-group-item "> Read the goals of other people</li>
          <li class="list-group-item ">Remove goals</li>
          <li class="list-group-item "> Hide/show your goal list</li>
        </ul>
        <h2>Use the navigation bar above to get started!</h2>
      </p>
    </div> -->

    <!--<img class="image-fluid" style="max-height: 100%; top: 0; position: absolute; z-index: -1;" src="{% static 'images\background.jpg' %}">-->

    <!-- OUTPUT -->
    <div class="outputSquare">
      <div class="container">

        <div id="outputTable" class="table">
          <br><br>
          <!-- Here will my goals be added by rows -->

          <div class="col-md-8">
            {% block content %} {% endblock %}
          </div>

          <!-- --->
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js "></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js " integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin=" anonymous "></script>
    <script src="{% static 'main.js' %}"></script>

</body>

</html>
