{% extends 'blog/base.html' %} {% block content %}
<br>
<form action="\">
<input type="submit" class="btn btn-default" value="Go back" />
</form>
<br>

{% if post.image %}
  <img src='{{post.image.url}}' class='img-responsive'/>
  {% endif %}

<div class="post">
  <h1>{{ post.title }}</h1>
  <p>{{ post.text|linebreaksbr }}</p>
  {% if post.published_date %}
  <br>
  <div id='signoff' class="date">
    Written by
    {% if user.is_authenticated and user == post.author %}
    you,
    {% endif %}
    <a><b>{{ post.author}}</b></a>, on {{ post.published_date }}
  </div>
  {% endif %}

  <br>
  <form action="\">
    <a class="btn btn-primary" href="{% url 'add_comment_to_post' pk=post.pk %}">Comment <span class=""></span></a>
    <a class="btn btn-success" href="">I love it! <span class="glyphicon glyphicon-heart"></span></a>
    <!-- DELETE POST IF ITS YOUR OWN -->
    {% if user.is_authenticated and user == post.author %}
    <a class="btn btn-warning" href="{% url 'post_edit' pk=post.pk %}">Edit</a>
    <a id="removePost" class="btn btn-danger" href="{% url 'post_remove' pk=post.pk %}">Delete post<!--span class="glyphicon glyphicon-remove"></span>--></a>
    {% endif %}
  </form>
Share on:
  <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">
    Facebook,
    </a>
    <a href='https://plus.google.com/share?url={{request.build_absolute_uri}}'>
    Google</a> or

    <a href="http://www.reddit.com/submit?url={{request.build_absolute_uri}}/&title={{post.title}}">
    Reddit! </a>

</div>


<hr>
<h1>Comments<small> // consider joining the discussion yourself!</small></h1>

{% for comment in post.comments.all %}
    <div class="comment">
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
        <div id='signoff' class="date">{{ comment.author }} wrote this on {{ comment.created_date }}</div>
    </div>
    <hr>
{% empty %}
    <p><a href="{% url 'add_comment_to_post' pk=post.pk %}">Be the first to leave a comment!</a></p>
{% endfor %}


{% endblock %}
