{% extends 'blog/base.html' %} {% block content %}

<div class="col-md-3">
</div>

<div class="col-md-6">
  <h1>Create your post<small> // connect with the world</small></h1>
  <form method="POST" class="post-form" action='' enctype='multipart/form-data'>
    {% csrf_token %} {{ form.as_p }}

    <button type="submit" class="save btn btn-success">I want to post this.</button>
  </form>
  <form action="\">
    <input type="submit" class="btn btn-danger" value="Nevermind. Go back." />
  </form>
</div>

<div class="col-md-3">
</div>

{% endblock %}
