{% extends 'blog/base.html' %} {% block content %}{% load staticfiles %}

<br>
<form action="\">
<input type="submit" class="btn btn-default" value="Go back" />
</form>
<br>

{% if post.image %}
  <img src='{{post.image.url}}' class='img-responsive'/>
  {% endif %}

<div class="post">
  <h1>{{ post.title }}<span id="social">
    <a href="http://www.reddit.com/submit?url={{request.build_absolute_uri}}/&title={{post.title}}"><img src="{% static 'images\Rshare.png' %}" height="22px"></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}"><img src="{% static 'images\FBshare.png' %}" height="21px"></a>
    <a href='https://plus.google.com/share?url={{request.build_absolute_uri}}'><img src="{% static 'images\Gshare.png' %}" height="20px"></a></span></h1>

<!--
<a href="http://www.reddit.com/submit?url={{request.build_absolute_uri}}/&title={{post.title}}"><img src="{% static 'images\Rshare.png' %}" height="20px">
Reddit |</a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}"><img src="{% static 'images\FBshare.png' %}" height="20px">
    Facebook |
  </a>
    <a href='https://plus.google.com/share?url={{request.build_absolute_uri}}'><img src="{% static 'images\Gshare.png' %}" height="20px">
    Google</a><hr>
  -->

  <p>{{ post.text|linebreaksbr }}</p>
  {% if post.published_date %}
  <br>
  <div id='signoff' class="date">
    Written by
    {% if user.is_authenticated and user == post.author %}
    you,
    {% endif %}
    <a href="../../profile/?q={{ post.author.pk }}" id="viewuser"><b>{{ post.author }}</b></a>, on {{ post.published_date }}
  </div>
  {% endif %}

  <br>
  <form action="\">
    <a class="btn btn-primary" href="{% url 'add_comment_to_post' pk=post.pk %}">Comment <span class=""></span></a>
    <a class="btn btn-success" href="{% url 'add_like_to_post' pk=post.pk %}?origin={{request.path}}">I love it!  <span id="redheart" class="glyphicon glyphicon-heart"></span><span id="redheart"> {{ post.likes.count }}</span></a>

    <!-- DELETE POST IF ITS YOUR OWN -->
    {% if user.is_authenticated and user == post.author %}
    <a class="btn btn-warning" href="{% url 'post_edit' pk=post.pk %}">Edit</a>
    <a id="removePost" class="btn btn-danger" href="{% url 'post_remove' pk=post.pk %}">Delete post<!--span class="glyphicon glyphicon-remove"></span>--></a>
    {% endif %}
  </form>


</div>


<hr>
<h1>Comments<small> // consider joining the discussion yourself!</small></h1>

{% for comment in post.comments.all %}
    <div class="comment">

        <strong><a href="../../profile/?q={{ comment.author.pk }}" id="viewuser"><b>{{ comment.author }}</b></a></strong>
        <p>{{ comment.text|linebreaks }}</p>
        <div id='signoff' class="date">{{ comment.author }} wrote this on {{ comment.created_date }}</div>
    </div>
    <hr>
{% empty %}
    <p><a href="{% url 'add_comment_to_post' pk=post.pk %}">Be the first to leave a comment!</a></p>
{% endfor %}


{% endblock %}
